[project]
name = "woolies-cw-pricedrop"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "bs4>=0.0.2",
    "selenium>=4.40.0",
    "win11toast>=0.36.3",
]